body {
	background-color: #CCC;
	margin:100px 100px 120px 120px;
}
div#fixedheader1 {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#0404B4;
	height:50px;
}
div#fixedheader2 {
	position:fixed;
	top:26px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#FF0000;
	height:25px;
}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#0404B4;
	padding:15px;
}
